{% extends 'base.html' %}
{% block content %}

<h2>{{ post.title }}</h2>
<p>마스터: {{ post.master.name }} | 작성자: {{ post.author }} | 작성일: {{ post.created_at }}</p>
<div>
    {{ post.content|linebreaks }}
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{% url 'boards:board_list_filter' post.master.slug %}?page={{ request.GET.page }}" class="btn btn-primary">목록</a>
    {% if user.is_authenticated and user == post.author %}
    <a href="{% url 'boards:board_edit' post.master.slug post.pk %}" class="btn btn-secondary">수정</a>
    <a href="{% url 'boards:board_delete' post.master.slug post.pk %}" class="btn btn-danger">삭제</a>
    {% endif %}
</div>

{% if master.is_commented %}
<form method="post">
    {% csrf_token %}
    <!-- {{ commentForm.as_p }} -->
    <div class="mb-3">
        <label for="id_content" class="form-label">Content:</label>
        <textarea class="form-control" name="content" cols="40" rows="4" required="" id="id_content"></textarea>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-primary">댓글 등록</button>
    </div>
</form>

<h3>댓글</h3>
    {% for comment in comments %}
    <div class="text-body-secondary pt-3"> 
        <p class="pb-3 mb-0 small lh-sm border-bottom">
            <strong class="d-block text-gray-dark mb-1">@{{ comment.author }}</strong>
            {{ comment.content }}
            <small class="d-block text-muted mt-1">{{ comment.created_at }}</small>
        </p> 
    </div>
    {% empty %}
    <p class="list-group-item">댓글이 없습니다.</p>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
