{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div>
    <div class="bg-light p-5 rounded">
        <!-- <div class="col-sm-8 mx-auto">
            <h1>BizWeb examples</h1>
            <p>This example is a quick exercise to illustrate how the navbar and its contents work. Some
                navbars extend the width of the viewport, others are confined within a
                <code>.container</code>. For positioning of navbars, checkout the <a
                    href="#">top</a> and <a
                    href="#">fixed top</a> examples.</p>
            <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu
                button to toggle the collapsed content.</p>
            <p>
                <a class="btn btn-primary" href="#" role="button">View navbar
                    docs &raquo;</a>
            </p>
        </div> -->

        <div class="d-flex">
        {% for category in categories %}
            <div class="p-2 flex-fill">
                <h2>{{ category.name }} ({{ category.slug }})</h2>
                <ul class="list-group list-group-flush">
                    {% comment %} slice:":5"를 통해 최신 5개만 반복합니다 {% endcomment %}
                    {% for post in category.recent_posts|slice:":5" %}
                        <li class="list-group-item">
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            <span>{{ post.created_at|date:"Y-m-d" }}</span>
                        </li>
                    {% empty %}
                        <li>게시물이 없습니다.</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
